@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>OAuth Sample</h2>

<label>取得OAuth Authorize Code</label>
<form action="@Url.Action("Authorize", "OAuth")" method="post">
    <input name="GetAuthorizeCode" type="submit" value="取得OAuth Authorize Code"  />
</form>

<p>Authorization Code:@ViewBag.Code</p>